Package: com.revokeasi.banned
Name: banned
Version: 0.0.2
Architecture: iphoneos-arm64
Description: A skidded tweak by a dumb fuck!
Maintainer: revokeasi
Author: revokeasi
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
