Package: com.34306.banned
Name: banned
Version: 0.0.3
Architecture: iphoneos-arm64
Description: Bans you from using Settings.
Maintainer: 34306
Author: 34306
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
