Package: com.mortyick.banned
Name: banned
Version: 0.0.4
Architecture: iphoneos-arm64
Description: Respring loops you.
Maintainer: Mortyick
Author: Mortyick
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
